<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simon Says</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="/app.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body ng-app="simonSays">
    <div ng-controller="simonCtrl as ctrl">
      <div class="wrapper">
        <div class="board">
        <div class="info">
          <button class='btn-start' ng-click="ctrl.startPlay()">Start</button>
          <h2>Player Turn</h2>
          <ol class="player">
            <div ng-repeat="turn in ctrl.playersSequence track by $index">
              <li class="turn">{{turn}}</li>
            </div>
          </ol>
        </div><!-- info -->
          <div class="simon">
            <ul>
              <div ng-repeat="color in ctrl.colorArray" >
                <li class="pad {{color.display}}" id={{$index}} ng-click="ctrl.padClick($index , color.display)"></li>
              </div>
            </ul>
          </div><!-- simon -->
        </div><!-- board -->
      </div><!-- wrapper -->
    </div>
  </body>
</html>
