h1{
  margin: auto 0;
}
.turn{
  text-transform: capitalize
}
.board{
  margin: auto 0;
  width: 800px;
  height: auto;
}
.simon {
  background: #fff;
  width: 400px;
  height: 400px;
  box-shadow: 4px 1px 20px #aaa;
}
.pad {
  width: 200px;
  height: 200px;
}
.wrapper {
  width: 800px;
  padding: 40px;
}
.active{
  opacity: .5 !important;
}
.info{
  float: right;
}
.red:hover, .blue:hover, .yellow:hover, .green:hover {
  opacity: .8;
}
.red:active, .blue:active, .yellow:active, .green:active {
  opacity: .5;
}
.red {
  background: #e74c3c;
  float: right;
}
.blue {
  background: #3498db;
}
.yellow {
  background: #e67e22;
    float: right;
}
.green {
  background: #1abc9c;
  float: left;
}
.simon .pad{
  list-style: none;
}
ul, li {
  padding: 0;
  margin: 0;
}
.btn-start{
  margin-top: 20px;
}